.changeColor{
	animation: changeColor linear alternate infinite;

}


@keyframes changeColor{
	0%{
		color: #dc3545;
	}

	33%{
		color: #4caf50;
	}

	100%{
		color: #fd971f;
	}

}


.am-du-1s{
	animation-duration: 1s;
}
.am-du-2s{
	animation-duration: 2s;
}

.am-du-0-p5s{
	animation-duration: 2s;
}