@media (max-width: 575px){
	#sliderID .carousel-caption{
		top: 25%;
		
	}
	#our-history img{
		width: 100%;
		padding: 10px 15px;
	}

	#our-history .history-content h1{
		margin-top: 15px;
		margin-left: 10px;
		font-size: 26px;
		padding-top: 5px;
	}
	#our-history .history-content p{
		padding: 0px 15px;
	}	

	#our-history .history-content .btn{
		margin-left: 15px;
		padding: 7px 15px;
		font-size: 16px;
	}

	#our-service .service-article h1{
		font-size: 28px;
	}
	#our-service .service h4{
		font-size: 18px;
	}
	#our-service .service-image{
		min-height: 350px;
	}
	#recent-work h1{
		font-size: 28px;
	}
	#recent-work p{
		padding-left: 15px;
		padding-right: 15px;
	}
	#recent-work .img-fluid{
		width: 100%;
		padding: 10px 15px;
	}

	#case-study .case-sty-article{
		position: relative;
		left: 0px !important;
		top: 0px !important;
	}
	#case-study .case-sty-image{
		min-height: 350px;
	}

	#pricing .title h2{
		font-size: 24px !important;
	}
	#pricing .title p{
		padding-left: 15px;
		padding-right: 15px;
	}
	#blog h2{
		font-size: 24px;
	}

	#blog p{
		padding-left: 15px;
		padding-right: 15px;
	}

	#blog .img-fluid{
		width: 100%;
	}


	#contact h2{
		font-size: 24px;
	}
	#footer .copy-right{
		text-align: left;
		padding-top:45px;
		padding-left: 20px;
	}

}


@media (min-width:576px ) and (max-width: 767px ){
	#sliderID .carousel-caption{
		top: 30%;
		
	}
		#our-history img{
		width: 100%;
		padding: 10px 15px;
	}

	#our-history .history-content h1{
		margin-top: 15px;
		margin-left: 10px;
		font-size: 28px;
		padding-top: 5px;
	}

	#our-history .history-content .btn{
		padding: 7px 15px;
		font-size: 18px;
	}
	#our-service .service-article h1{
		font-size: 32px;
	}
	#our-service .service h4{
		font-size: 22px;
	}
	#our-service .service-image{
		min-height: 350px;
	}

	#recent-work h1{
		font-size: 32px;
	}
	#recent-work p{
		padding-left: 15px;
		padding-right: 15px;
	}

	#case-study .case-sty-article{
		position: relative;
		left: 0px !important;
		top: 0px !important;
	}
	#case-study .case-sty-image{
		min-height: 350px;
	}

	#pricing .title h2{
		font-size: 26px !important;
	}
	#pricing .title p{
		padding-left: 15px;
		padding-right: 15px;
	}



}


@media (min-width:768px ) and (max-width: 991px ){
	#sliderID .carousel-caption{
		top: 35%;
		
	}
}
