.primary-color{

}
.py-6{
	padding: 90px 0;
}
.pt-6{
	padding-top: 90px;
}

.separator{
	display: block;
	height: 3px;
	width: 120px;
	background: #ddd;
	margin: auto;

}

.navbar-bg-color{
	background: rgba(113, 131, 154, .5);
}

#navbarID .active{
	border-bottom: .5px solid #90261d;
	transition: all .5s linear;
}
body{
	font-family: "Times new roman";
}
#navbarID{
	font-family: "Times new roman";

}
#navbarID ul li a{
	color: #fff;
	font-size: 16px;
	text-align: center;

}
#navbarID ul li a:hover{
	border-bottom: .5px solid #90261d;
}

#sliderID .carousel-caption{
	top: 40%;
}
#our-activity{
	padding: 90px 0px;
	border-bottom: 1px solid #ddd;
}

#our-activity .card{
	border: none;
}
#our-activity i{
	font-size: 22px;
	padding: 20px;
	color: #e74c3c;
	transition: all .5s linear;
	border:1px solid #ddd;
}

#our-activity .card-title h4{
	font-size: 18px;
	transition: all .5s linear;
}
#our-activity .separator{
	height: 2px;
	width: 60px;
	margin: 0px auto;
	display: block;
	background: #ddd;
}
#our-activity .card-title p{
	font-size: 16px;
}
#our-activity .sleek-design:hover i,
#our-activity .clean-code:hover i,
#our-activity .creative-idea:hover i,
#our-activity .free-support:hover i{
	transform: rotate(45deg);
	border-color: #e74c3c;
}
#our-activity .sleek-design:hover .card-title h4,
#our-activity .clean-code:hover .card-title h4,
#our-activity .creative-idea:hover .card-title h4,
#our-activity .free-support:hover .card-title h4{
	color: #e74c3c;
}

#our-history{
	padding: 90px 0;
}

#our-history h1{
	color: #787878;
	padding-left: 20px;
	border-left: 5px solid #1b8597;
}

#our-history .btn{
	padding: 12px 20px;
}

#our-service {
	padding: 0;
}
#our-service h1{
	text-align: right;
	padding-right: 20px;
	color: #fff;
	border-right: 5px solid #e91b34;
}
#our-service .service-article{
	padding: 90px 0;
	background: #252525;
}
#our-service .service-article h4{
	color: #e91b34;
}
#our-service .service-article p{
	color: #778989;
}
#our-service .service-image{
	background: url("../images/servicerightimg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#recent-work{
	padding: 50px 0px;
}
#recent-work .separator{
	height: 2px;
	width: 120px;
	background: #ddd;
	content: " ";
	display: block;
	margin: 20px auto;

}
#recent-work .rnt-wrk-title h1,
#recent-work .rnt-wrk-title p{
	color: #787878;
}

#case-study{
	padding: 90px 0;
	background: #f4f5f9;
}

#case-study .case-sty-image{
	background-image: url("../images/study.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;

}
#case-study .case-sty-article{
	position: relative;
	top: 30px;
	left: 7% !important;
	z-index: 10;
}
#case-study .flexslider{
	border-radius: 0px;
}
#case-study .card{
	border: none;

}

#case-study i{
	margin-top: 20px;
	padding: 15px 25px;
	border:1px solid #138496;
	background: #138496;
	font-size: 28px;
	color: #fff;
	transform: rotate(45deg);

}
#case-study .separator{
	width: 120px;
	height: 2px;
	display: block;
	background: #ddd;
	margin: auto;
}

#status{
	text-align: center;
	color: #fff;
	padding: 90px 0;
	background-image: url("../images/counterbg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}


#status i{
	font-size: 22px;
	padding: 20px;
	border: 1px solid #fff;
	border-radius: 50%;

}

#pricing{}
#pricing .title h2{
	color: #797979;
}
#pricing .title p{
	color: #797979;
}


#pricing .card{}
#pricing .card .card-header{
	text-align: center;
	background: #999999;
	height: 250px;
}
#pricing .card .card-header h2{
	font-size: 22px;
	padding-top: 20px;
	color: #fff;
}
#pricing .card .card-header .price{
	height: 150px;
	width: 150px;
	padding-top: 40px;
	border-radius: 50%;
	background: #fff;
	margin: auto;
	position: relative;
	margin-top: 110px;
	border:10px solid rgba(181, 181, 182, .6);


}

#pricing .card .card-header .price h3{
	font-size: 32px;
	color: #797979;
}
#pricing .card .card-header .price p{
	color: #797979;
}

#pricing .card-footer{
	width: 100%;
}
#pricing .card-footer p{
	padding: 0 15px 10px;
	text-align: center;
	font-size: 20px;
	line-height: 32px;
}

#pricing  .card-footer a{
	
	font-size: 16px;
	border:none;
}
#pricing .premium .card-footer a{
	background: #e74c3c;
}
#pricing .premium .card-header{
	background: #e74c3c;
}

#pricing .business .card-footer a{
	background: #17a2b8;
}
#pricing .business .card-header{
	background: #17a2b8;
}

#pricing .card:hover{
	box-shadow: 1px 2px 2px 3px #f2f2f2;
}


#our-team{
	padding: 90px 0px;
	color: #fff;
	background: url("../images/teambg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#our-team .member{
	transition: all 0.5s linear;
}

#our-team .member img{
	height: 64px;
	width: 64px;
	margin: auto;
	border-radius: 50%;
}

#our-team .member h4{
	font-size: 18px;
}

#our-team .member:hover{
	color: #e74c3c
}
#blog{
	
}
#blog .card-title{
	text-decoration: underline;
}

#contact{

}
#contact .title h2,
#contact .title p{
	color: #47453f;
}
#contact  ul{
	list-style: none;
	color: #999999;
}

#contact  ul li{
	padding: 15px 0px;
}

#contact ul li h3{
	font-size: 22px;
	color: #e74c3c;
}
#contact ul li h4{
	font-size: 18px;
}

#contact .contact-form{
	color: #999999;
}

#contact .contact-form .btn{
	background: #e74c3c;
	color: #fff;
	padding: 10px 20px;
	transition: all .5s linear;
}
#contact .contact-form .btn:hover{
	background: #17a2b8;
}

#footer{
	background: #363636;
}
#footer .social-icon i{
	padding: 12px;
	color: #fff;
	border-radius: 50%;
	background: #363636;
	margin-left: 15px;
	box-shadow: 0px 3px 0px #4f4d46;
}
#footer .social-icon i:hover{
	background: #17a2b8;
	border-radius: 50%;
}
#footer .copy-right{
	padding-top: 15px;
	color: #fff;
	font-size: 14px;
	font-family: "Times new roman";
	margin-left: auto;
	text-align: right;
}

.scroll-view{
	position: fixed;
	bottom: 15px;
	right: 20px;
	opacity: 0;
	transition: all .5s linear;

}
.scroll-view-active{
	opacity: 1;
}
.scroll-view i{
	color: #fff;
	background: #363636;
	border-radius: 50%;
	padding: 10px;
	outline: none;
}
.scroll-view i:hover{
	background: #17a2b8;
}